*{
    margin: 0;
    padding: 0;
}

.container{
    width: 95%;
    margin: auto;
}

.nav{
    display: grid;
    grid-template-columns: repeat(3 , 1fr);
    align-items: center;
    gap: 165px;
}

.left-nav{
    display: inline-flex;
    width: 24vw;
    justify-content: space-between;
}

.left-nav li{
    list-style: none;
}

.left-nav li a{
    text-decoration: none;
    font-size: 0.8em;
    color: black;
    line-height: 80px;
}

.right-nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 25%;
}



.center-nav{
    margin: auto;
}

.bdi{
    cursor: pointer;
}

.ast-icon.icon-search svg{
    height: 1em;
    width: 0.9em;
    cursor: pointer;
}

.ast-icon.icon-basket svg {
    height: 1.15em;
    width: 1.2em;
    position: relative;
    cursor: pointer;
    margin-left: -200%;
}

.login{
    cursor: pointer;
}