*{
    margin: 0;
    padding: 0;
}

.container{
    width: 95%;
    margin: auto;
}

.custmozebutton{
    position: fixed;
    right: 210px;
    width: 7vw;
    top: 35%;
    border: 2px solid rgba(0, 0, 0, 10%);
    background: #FFFFFF;
    padding: 10px 20px;
    cursor: pointer;
    transition: all 2.5s 1.5s;
}

.custmozebutton button{
    border: none;
    background: transparent;
    font-size: 1.2em;
    cursor: pointer;
}

.custmozebutton i{
    color: blue;
}

.custmize{
    position: fixed;
    right: 0;
    display: flex;
    height: 100%;
    width:21vw;
    z-index: 100;
    background-color: #FFFFFF;
    transition: all 3s ;
}

.custmize .customize-pa{
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    align-items: center;
}

.custmize .customize-pa .head{
    display: flex;
    border-bottom: 3px solid rgba(0, 0, 0, 10%);
    width: 100%;
}

.custmize .customize-pa .head .cust-sp{
    font-size: 18px;
    padding: 20px;
}

.custmize .customize-pa .head #closecustomize{
    cursor: pointer;
    position: absolute;
    top: 19px;
    right: 30px;
    border: 2px solid #9e9e9e;
    padding: 2px 5px;
    color: #9e9e9e;
    display: none;
}

.custmize .customize-pa .customize-p{
    padding-left: 20px;
    margin-top: 3%;
}

.custmize .customize-pa .customize-p2{
    padding-left: 20px;
    font-size: 1.2em;
}

.custmize .customize-pa .colordefult{
    display: flex;
    margin-bottom: 3%;
    width: 100%;
}

.custmize .customize-pa .defult{
    border: none;
    margin-left: 90px;
    background: transparent;
    color: blue;
    cursor: pointer;
}

.custmize .customize-pa .default-color{
    margin: auto;
    width: 90%;
    padding: 5px 2px;
    border: 2px solid rgba(0, 0, 0, 10%);
    height: 4vh;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.custmize .customize-pa .default-color span{
    padding-left: 4px;
    font-size: 0.8em;
}

.custmize .customize-pa .default-color .boxcolor-1{
    display: flex;
    gap: 3px;
    margin-left: 20px;
    cursor: pointer;
}

.custmize .customize-pa .default-color .boxcolor-1 .color1-1{
    background-color: #000;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    cursor: pointer;
}

.custmize .customize-pa .default-color .boxcolor-1 .color1-2{
    background-color: rgba(0, 0, 0, 0.6);
    width: 16px;
    height: 16px;
    border-radius: 50%;
    cursor: pointer;
}

.custmize .customize-pa .default-color .boxcolor-1 .color1-3{
    background-color: rgb(250, 237, 235);
    width: 16px;
    height: 16px;
    border-radius: 50%;
    cursor: pointer;
}

.custmize .customize-pa .boxs{
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    margin:2% auto;
    justify-content: space-between;
    border-bottom: 2px solid rgba(0, 0, 0, 10%);
    padding-bottom: 2%;
}

.custmize .customize-pa .boxs .boxcolor-2{
    display: flex;
    justify-content: center;
    gap: 5px;
    margin: 4% 0;
    width: 10vw;
    padding: 5px 2px;
    border: 2px solid rgba(0, 0, 0, 10%);
    height: 4vh;
    display: flex;
    align-items: center;
    width: 8vw;
}

.custmize .customize-pa .boxs .boxcolor-2 .color2-1{
    background-color: rgb(142, 67, 240);
    width: 16px;
    height: 16px;
    border-radius: 50%;
    cursor: pointer;
}

.custmize .customize-pa .boxs .boxcolor-2 .color2-2{
    background-color: rgb(99, 0, 226);
    width: 16px;
    height: 16px;
    border-radius: 50%;
    cursor: pointer;
}

.custmize .customize-pa .boxs .boxcolor-2 .color2-3{
    background-color: rgb(21, 14, 31);
    width: 16px;
    height: 16px;
    border-radius: 50%;
    cursor: pointer;
}

.custmize .customize-pa .boxs .boxcolor-2 .color2-4{
    background-color: rgb(88, 77, 102);
    width: 16px;
    height: 16px;
    border-radius: 50%;
    cursor: pointer;
}

.custmize .customize-pa .boxs .boxcolor-2 .color2-5{
    background-color: rgb(243, 241, 246);
    width: 16px;
    height: 16px;
    border-radius: 50%;
    cursor: pointer;
}
/* ///////////////////////////////////////////////////// */
.custmize .customize-pa .boxs .boxcolor-2 .color3-1{
    background-color: rgb(239, 77, 72);
    width: 16px;
    height: 16px;
    border-radius: 50%;
    cursor: pointer;
}

.custmize .customize-pa .boxs .boxcolor-2 .color3-2{
    background-color: rgb(217, 7, 0);
    width: 16px;
    height: 16px;
    border-radius: 50%;
    cursor: pointer;
}

.custmize .customize-pa .boxs .boxcolor-2 .color3-3{
    background-color: rgb(43, 22, 27);
    width: 16px;
    height: 16px;
    border-radius: 50%;
    cursor: pointer;
}

.custmize .customize-pa .boxs .boxcolor-2 .color3-4{
    background-color: rgb(69, 62, 62);
    width: 16px;
    height: 16px;
    border-radius: 50%;
    cursor: pointer;
}

.custmize .customize-pa .boxs .boxcolor-2 .color3-5{
    background-color: rgb(247, 243, 245);
    width: 16px;
    height: 16px;
    border-radius: 50%;
    cursor: pointer;
}
/* /////////////////////////////////////////////////// */
.custmize .customize-pa .boxs .boxcolor-2 .color4-1{
    background-color: rgb(255, 106, 151);
    width: 16px;
    height: 16px;
    border-radius: 50%;
    cursor: pointer;
}

.custmize .customize-pa .boxs .boxcolor-2 .color4-2{
    background-color: rgb(250, 3, 107);
    width: 16px;
    height: 16px;
    border-radius: 50%;
    cursor: pointer;
}

.custmize .customize-pa .boxs .boxcolor-2 .color4-3{
    background-color: rgb(43, 22, 27);
    width: 16px;
    height: 16px;
    border-radius: 50%;
    cursor: pointer;
}

.custmize .customize-pa .boxs .boxcolor-2 .color4-4{
    background-color: rgb(100, 86, 89);
    width: 16px;
    height: 16px;
    border-radius: 50%;
    cursor: pointer;
}

.custmize .customize-pa .boxs .boxcolor-2 .color4-5{
    background-color: rgb(248, 243, 245);
    width: 16px;
    height: 16px;
    border-radius: 50%;
    cursor: pointer;
}
/* /////////////////////////////////////////////////// */
.custmize .customize-pa .boxs .boxcolor-2 .color5-1{
    background-color: rgb(255, 122, 61);
    width: 16px;
    height: 16px;
    border-radius: 50%;
    cursor: pointer;
}

.custmize .customize-pa .boxs .boxcolor-2 .color5-2{
    background-color: rgb(255, 81, 0);
    width: 16px;
    height: 16px;
    border-radius: 50%;
    cursor: pointer;
}

.custmize .customize-pa .boxs .boxcolor-2 .color5-3{
    background-color: rgb(30, 24, 16);
    width: 16px;
    height: 16px;
    border-radius: 50%;
    cursor: pointer;
}

.custmize .customize-pa .boxs .boxcolor-2 .color5-4{
    background-color: rgb(87, 82, 80);
    width: 16px;
    height: 16px;
    border-radius: 50%;
    cursor: pointer;
}

.custmize .customize-pa .boxs .boxcolor-2 .color5-5{
    background-color: rgb(248, 245, 244);
    width: 16px;
    height: 16px;
    border-radius: 50%;
    cursor: pointer;
}
/* /////////////////////////////////////////////////// */
.custmize .customize-pa .boxs .boxcolor-2 .color6-1{
    background-color: rgb(249, 195, 73);
    width: 16px;
    height: 16px;
    border-radius: 50%;
    cursor: pointer;
}

.custmize .customize-pa .boxs .boxcolor-2 .color6-2{
    background-color: rgb(255, 177, 0);
    width: 16px;
    height: 16px;
    border-radius: 50%;
    cursor: pointer;
}

.custmize .customize-pa .boxs .boxcolor-2 .color6-3{
    background-color: rgb(30, 24, 16);
    width: 16px;
    height: 16px;
    border-radius: 50%;
    cursor: pointer;
}

.custmize .customize-pa .boxs .boxcolor-2 .color6-4{
    background-color: rgb(98, 97, 92);
    width: 16px;
    height: 16px;
    border-radius: 50%;
    cursor: pointer;
}

.custmize .customize-pa .boxs .boxcolor-2 .color6-5{
    background-color: rgb(248, 247, 243);
    width: 16px;
    height: 16px;
    border-radius: 50%;
    cursor: pointer;
}
/* /////////////////////////////////////////////////// */
.custmize .customize-pa .boxs .boxcolor-2 .color7-1{
    background-color: rgb(48, 199, 181);
    width: 16px;
    height: 16px;
    border-radius: 50%;
    cursor: pointer;
}

.custmize .customize-pa .boxs .boxcolor-2 .color7-2{
    background-color: rgb(0, 172, 151);
    width: 16px;
    height: 16px;
    border-radius: 50%;
    cursor: pointer;
}

.custmize .customize-pa .boxs .boxcolor-2 .color7-3{
    background-color: rgb(20, 38, 28);
    width: 16px;
    height: 16px;
    border-radius: 50%;
    cursor: pointer;
}

.custmize .customize-pa .boxs .boxcolor-2 .color7-4{
    background-color: rgb(79, 86, 85);
    width: 16px;
    height: 16px;
    border-radius: 50%;
    cursor: pointer;
}

.custmize .customize-pa .boxs .boxcolor-2 .color7-5{
    background-color: rgb(243, 246, 243);
    width: 16px;
    height: 16px;
    border-radius: 50%;
    cursor: pointer;
}
/* ////////////////////////////////////////////////// */
.custmize .customize-pa .boxs .boxcolor-2 .color9-1{
    background-color: rgb(27, 174, 112);
    width: 16px;
    height: 16px;
    border-radius: 50%;
    cursor: pointer;
}

.custmize .customize-pa .boxs .boxcolor-2 .color9-2{
    background-color: rgb(6, 117, 46);
    width: 16px;
    height: 16px;
    border-radius: 50%;
    cursor: pointer;
}

.custmize .customize-pa .boxs .boxcolor-2 .color9-3{
    background-color: rgb(20, 38, 28);
    width: 16px;
    height: 16px;
    border-radius: 50%;
    cursor: pointer;
}

.custmize .customize-pa .boxs .boxcolor-2 .color9-4{
    background-color: rgb(78, 86, 82);
    width: 16px;
    height: 16px;
    border-radius: 50%;
    cursor: pointer;
}

.custmize .customize-pa .boxs .boxcolor-2 .color9-5{
    background-color: rgb(244, 246, 244);
    width: 16px;
    height: 16px;
    border-radius: 50%;
    cursor: pointer;
}
/* ///////////////////////////////////////////////// */
.custmize .customize-pa .boxs .boxcolor-2 .color8-1{
    background-color: rgb(48, 199, 181);
    width: 16px;
    height: 16px;
    border-radius: 50%;
    cursor: pointer;
}

.custmize .customize-pa .boxs .boxcolor-2 .color8-2{
    background-color: rgb(0, 172, 151);
    width: 16px;
    height: 16px;
    border-radius: 50%;
    cursor: pointer;
}

.custmize .customize-pa .boxs .boxcolor-2 .color8-3{
    background-color: rgb(20, 38, 28);
    width: 16px;
    height: 16px;
    border-radius: 50%;
    cursor: pointer;
}

.custmize .customize-pa .boxs .boxcolor-2 .color8-4{
    background-color: rgb(79, 86, 85);
    width: 16px;
    height: 16px;
    border-radius: 50%;
    cursor: pointer;
}

.custmize .customize-pa .boxs .boxcolor-2 .color8-5{
    background-color: rgb(243, 246, 243);
    width: 16px;
    height: 16px;
    border-radius: 50%;
    cursor: pointer;
}
/* //////////////////////////////////////////////// */
.custmize .customize-pa .boxs .boxcolor-2 .color10-1{
    background-color: rgb(47, 193, 255);
    width: 16px;
    height: 16px;
    border-radius: 50%;
    cursor: pointer;
}

.custmize .customize-pa .boxs .boxcolor-2 .color10-2{
    background-color: rgb(8, 172, 242);
    width: 16px;
    height: 16px;
    border-radius: 50%;
    cursor: pointer;
}

.custmize .customize-pa .boxs .boxcolor-2 .color10-3{
    background-color: rgb(16, 18, 24);
    width: 16px;
    height: 16px;
    border-radius: 50%;
    cursor: pointer;
}

.custmize .customize-pa .boxs .boxcolor-2 .color10-4{
    background-color: rgb(76, 82, 83);
    width: 16px;
    height: 16px;
    border-radius: 50%;
    cursor: pointer;
}

.custmize .customize-pa .boxs .boxcolor-2 .color10-5{
    background-color: rgb(243, 246, 246);
    width: 16px;
    height: 16px;
    border-radius: 50%;
    cursor: pointer;
}
/* /////////////////////////////////////////////// */
.custmize .customize-pa .boxs .boxcolor-2 .color11-1{
    background-color: rgb(65, 117, 252);
    width: 16px;
    height: 16px;
    border-radius: 50%;
    cursor: pointer;
}

.custmize .customize-pa .boxs .boxcolor-2 .color11-2{
    background-color: rgb(8, 74, 243);
    width: 16px;
    height: 16px;
    border-radius: 50%;
    cursor: pointer;
}

.custmize .customize-pa .boxs .boxcolor-2 .color11-3{
    background-color: rgb(16, 18, 24);
    width: 16px;
    height: 16px;
    border-radius: 50%;
    cursor: pointer;
}

.custmize .customize-pa .boxs .boxcolor-2 .color11-4{
    background-color: rgb(73, 75, 81);
    width: 16px;
    height: 16px;
    border-radius: 50%;
    cursor: pointer;
}

.custmize .customize-pa .boxs .boxcolor-2 .color11-5{
    background-color: rgb(243, 245, 245);
    width: 16px;
    height: 16px;
    border-radius: 50%;
    cursor: pointer;
}
/*////////////////////// End of customizer for boxs////////////////// */
.font{
    display: flex;
    flex-direction: column;
}

.font .fonthead .try{
    font-size: 16px;
    padding-left: 20px;
}

.font .fonthead button{
    border: none;
    background: transparent;
    position: absolute;
    right: 35px;
    color: blue;
    cursor: pointer;
}

.font .fonthead button:focus{
    color: rgba(0, 0, 0, 10%);
}

.font .popp button{
    display: flex;
    border: 2px solid rgba(0, 0, 0, 10%);
    width: 18vw;
    margin: 5% 6%;
    align-items: center;
    justify-content: center;
    padding: 4% 0;
    cursor: pointer;
    background: transparent;
}

.font .popp button:focus{
    border: 2px solid blue;
    color: blue;
}

.font .fontboxs{
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
    gap: 6px;
    justify-content: center;
}

.font .fontboxs button{
    width: 4vw;
    display: flex;
    justify-content: center;
    padding: 10px 0;
    background: transparent;
    font-size: 1.3em;
    cursor: pointer;
}

.font .fontboxs button:focus{
    border: 2px solid blue;
    color: blue;
}
/* ///////////////////////////////////////////////////////////////// */
.searchbar{
    position: fixed;
    top: 0;
    display: flex;
    z-index: 100;
    align-content: center;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 80%);
    height: 100%;
    width: 100%;
    display: none;  
}

.searchbar p{
    font-size: 1em;
    color: #000;
}

.searchbar button{
    position: absolute;
    top: 30px;
    right: 30px;
    border: none;
    font-size: 1.6em;
    background: transparent;
    color: #FFFFFF;
    cursor: pointer;
}

.searchbar form input{
    height: 5vh;
    width:40vw;
    margin: auto;
    text-align: center;
    font-size: 2.6em;
    background: transparent;
    border: none;
}

.searchbar .search-p{
    margin-left: 155px;
    margin-top: 30px;
}

.searchbar form input::-webkit-input-placeholder{
    color: #9e9e9e;
}

.searchbar form input:focus{
    border: none;
    outline: none;
}

.fa-magnifying-glass{
    cursor: pointer;
    color: #9e9e9e;
    font-size: 1.5em;
}

.nav{
    display: grid;
    grid-template-columns: repeat(3 , 1fr);
    align-items: center;
    gap: 165px;
    margin-top: 5px;
    z-index: 100;
}

.left-nav{
    display: inline-flex;
    width: 24vw;
    justify-content: space-between;
    height: 10vh;
}

.left-nav li{
    list-style: none;
    transition: 1s;
    margin-bottom: 1%;
}

.left-nav li:hover{
    border-bottom: 2px solid rgb(0 0 0 / 60%);
    color: rgb(0 0 0 / 60%);
}

.left-nav li a{
    text-decoration: none;
    font-size: 0.8em;
    color: black;
    line-height: 80px;
    height: 10vh;
    padding-bottom: 25px;
}

.left-nav li a:hover{
    color: rgb(0 0 0 / 60%);
}

.right-nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 25%;
}



.center-nav{
    display: flex;
    justify-content: center;
    margin-left: 30%;
}

.bdi{
    cursor: pointer;
}

.ast-icon.icon-search svg{
    height: 1em;
    width: 0.9em;
    cursor: pointer;
}

.ast-icon.icon-basket svg {
    height: 1.15em;
    width: 1.2em;
    position: relative;
    cursor: pointer;
    margin-left: -200%;
}

.login{
    cursor: pointer;
}

.seccion{
    height: fit-content;
    display: grid;
    grid-template-columns: repeat(2 , 1fr);
    background-color: #faedeb;
    width: 95%;
    margin: auto;
}

.img{
    height: 85vh;
}

.par{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 20%;
}

.wm{
    font-size: 1.2em;
    color: rgb(0 0 0 / 60%);
}

.p-1{
    font-size: 4em;
}

.shop{
    margin-top: 2%;
    text-decoration: none;
    color: #fff;
    background: #000;
    border: 2px solid;
    width: fit-content;
    padding: 2.3% 5%;
    border: none;
    font-size: 1em;
    cursor: pointer;
}

.main-1{
    margin: 2% 0;
    text-align: center;
}

.p-2{
    margin-bottom: 2%;
}

.main-imgs{
    display: flex;
    margin: auto;
    width: 85%;
    justify-content: space-evenly;
}

.picture{
    width: 300px;
    height: 366px;
    transition: 1s;
}

.picture-1:hover{
    cursor: pointer;
    content: url(https://websitedemos.net/t-shirts-store-04/wp-content/uploads/sites/1115/2022/07/product-01-c-400x488.jpg);
}

.picture-2:hover{
    cursor: pointer;
    content: url(https://websitedemos.net/t-shirts-store-04/wp-content/uploads/sites/1115/2022/07/product-01-d-400x488.jpg);
}

.picture-3:hover{
    cursor: pointer;
    content: url(https://websitedemos.net/t-shirts-store-04/wp-content/uploads/sites/1115/2022/07/product-001-b-400x488.jpg);
}

.img-1{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.img-1 .p{
    font-size: .85em;
    color: rgb(0 0 0 / 60%);
}

.img-1 a{
    text-decoration: none;
    color: #000;
    font-size: 1.3846153846154rem;
    font-weight: 700;
    margin: 2% 0;
}

.img-1 .woocommerce-Price-currencySymbol{
    font-size: 0.9em;
    color: rgb(0 0 0 / 60%);
}

.main-2{
    display: grid;
    grid-template-columns: repeat(2 , 1fr );
    grid-template-rows: repeat(1 , 3fr 1fr);
    height: 85vh;
    width: 85%;
    margin: 4% auto;
    gap: 20px;
}

.main-2-img1{
    grid-column: 1/2;
    grid-row: 1/2;
    background: url(https://websitedemos.net/t-shirts-store-04/wp-content/uploads/sites/1115/2022/07/collection-02.jpg);
    background-size: 100% 100%;
}

.main-2-img2{
    grid-column: 2/3;
    grid-row: 1/3;
    background: url(https://websitedemos.net/t-shirts-store-04/wp-content/uploads/sites/1115/2022/07/collection-01.jpg);
    background-size: 100% 100%;
}

.main-2 .m-2-p{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main-2 .m-2-p .p-2{
    font-size: 2.7692307692308rem;
    font-weight: 600;
    width: 80%;
    text-align: center;
}

.main-3{
    height: 100vh;
    width: 95%;
    background-image: url(https://websitedemos.net/t-shirts-store-04/wp-content/uploads/sites/1115/2022/07/bg-01.jpg);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin: 3% auto;
    position: relative;
    z-index: -1;
}

.main-3 .details{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
    text-align: center;
}

.main-3 .opacity{
    height: 100vh;
    background: rgba(0 , 0, 0, 20%);
}

.main-3 .details .wm-2{
    font-size: 0.8em;
    color: #FFFFFF;
}

.main-3 .details .p-2{
    font-size: 2.7692307692308rem;
    font-weight: 600;
    color: #FFFFFF;
}

.main-3 .details .p-3{
    font-size: 1.6em;
    color: #FFFFFF;
    font-weight: 600;
    margin-bottom: 8%;
    margin-top: -2%;
}

.main-4{
    display: grid;
    grid-template-rows: repeat(1, 0.32fr 4fr 0.4fr);
    grid-template-columns: repeat(1, .69fr 2.3fr .7fr 3fr);
    width: 95%;
    margin: 4% auto;
    height: 100vh;
}

.main-4 .photo{
    background-image: url(https://websitedemos.net/t-shirts-store-04/wp-content/uploads/sites/1115/2022/07/collection-03.jpg);
    background-size: 100% 100%;
    grid-column: 2/3;
    grid-row: 1/3;
    z-index: 50;
}

.main-4 .background{
    background: #faedeb;
    grid-column: 1/4;
    grid-row: 2/4;
}

.main-4 .pharagragh{
    grid-row: 2/3;
    grid-column: 3/5;
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    margin-left: 10%;
    width: 37vw;
    gap: 6px;
}

.main-4 .pharagragh .p-3{
    font-size: 2.6em;
}

.main-4 .pharagragh p-4{
    font-size: 0.7em;
    color: rgb(0 0 0 / 60%)
}

.main-5{
    text-align: center;
    margin: 7% auto;
}

.main-5 .p-4{
    font-size: 2.7692307692308rem;
    margin-top: 5px;
    margin-bottom: 20px;
}

.main-5 .wm-3{
    font-size: 1rem;
    color: rgb(0 0 0 / 60%);
}

.review{
    width: 30%;
    margin: auto;
    height: 20vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.review h1{
    font-size: 2.7692307692308rem;
}

.review a{
    color: #000;
}

.last{
    height: 72vh;
    width: 75%;
    margin: 4% auto;
    display: flex;
    gap: 20px;
}

.last .men{
    height: 72vh;
    width: 36vw;
    background: url(https://websitedemos.net/t-shirts-store-04/wp-content/uploads/sites/1115/2022/07/cat-men-400x400.jpg);
    background-size: 100% 100%;
    position: relative;
}

.last .women{
    height: 72vh;
    width: 36vw;
    background: url(https://websitedemos.net/t-shirts-store-04/wp-content/uploads/sites/1115/2022/07/cat-women-400x400.jpg);
    background-size: 100% 100%;
    position: relative;
}

.last .products{
    position: absolute;
    bottom: 15px;
    left: 50%;
    transform: translate(-50%);
    border: 2px #faedeb solid;
    width: 90%;
    background-color: #faedeb;
    text-align: center;
    margin: auto;
}

.last .products h3{
    font-size: 0.9em;
    color: #000;
}

.last .products span{
    font-size: 0.9em;
    color: rgb(0 0 0 / 60%);
}

.footer{
    margin: 4% auto;
    width: 95%;
    height: 80vh;
    background-color: #faedeb;
}

.footer .footer-inner{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    height: 50vh;
    margin: 4% 0;
    padding: 60px 0;
}

.footer .footer-inner h2{
    font-size: 2.2307692307692rem;
    font-weight: 600;
}

.footer .footer-inner p{
    color: rgb(0 0 0 / 60%);
}

.footer .footer-inner .input{
    display: flex;
    flex-wrap: wrap;
    width: 50%;
    justify-content: center;
    gap: 5px;
    height: 6vh;
}

.footer .footer-inner .input #email{
    color: #666;
    padding: 0.75em;
    height: auto;
    border-width: 1px;
    border-style: solid;
    border-color: #faedeb;
    border-radius: 2px;
    background: #FFFFFF;
    box-shadow: none;
    box-sizing: border-box;
    transition: all .2s linear;
    width: 70%;
}

.footer .footer-inner .input button{
    padding: 15px 25px;
    width: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000;
    color: rgb(255 255 255 / 69%);
    cursor: pointer;
}

.footer .footer-inner .links{
    display: flex;
}

.footer .footer-inner .links a{
    text-decoration: none;
    color: rgb(0 0 0 / 60%);
    font-size: 0.9em;
    background-color: #faedeb;
    padding: 20px;
}

.footer .footer-inner .links a:hover{
    color: #000;
}

.footer .footer-inner .icons{
    display: flex;
    flex-basis: 50vw;
    width: 17%;
    justify-content: space-evenly;
}

.footer .footer-inner .icons a{
    width: 4vw;
    height: 4vh;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

.footer .footer-inner .icons a:hover{
    background-color: #faedeb;
}

.footer .copyright{
    background-color: #000;
    color: #FFFFFF;
    height: 10vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 150px;
}

.sp {
    color: red;
    display: none;
}

.visable{
    right: 0px;
    transition: all 1s 0.5s;
}

.switch{
    right: -1135px;
    transition: all 3s 0.9s;
}

.hiden{
    display: none;
}